@model List<UserListModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="mt-4 table table-hover table-bordered table-sm">
    <thead>
        <tr>
            <td>Name</td>
            <td>Surname</td>
            <td>Account Count</td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td><getAccountCount user-id="@item.Id"></getAccountCount></td>
                <td>
                    <a asp-action="Create" asp-controller="Account" asp-route-id="@item.Id">Create an Account</a>
                    <a asp-action="GetByUserId" asp-controller="Account" asp-route-userId="@item.Id">Accounts</a>
                </td>
            </tr>
        }
    </tbody>
</table>
